/* .container {
    padding: 4rem 1rem;
} */

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: blue;
    border-radius: 1rem;
    color: white
}

.link-secondary {
    background-color: yellowgreen;
    border-radius: 2rem;
    color: black
}

h1 {
    color: tomato
}

h2 {
    color: yellowgreen
}

.para {
    color: teal
}